body {
    margin: 0;
    background-image:url("https://images.unsplash.com/photo-1650203855243-102ef3ba1f43?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGRpc2NvJTIwc3RhZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  
  .head,
  .left_arm,
  .torso,
  .right_arm,
  .left_leg,
  .right_leg {
    background-color: #020a09;
  }
  
  .head {
    width: 200px;
    margin: 100px auto;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .eyes {
    position: relative;
    top: 70px;
  }
  
  .left_eye,
  .right_eye {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(226, 24, 24);
    display: inline-block;
  }
  
  .left_eye {
    margin-left: 30px;
  }
  
  .right_eye {
    margin-left: 100px;
  }
  
  .upper_body {
    width: 300px;
    height: 150px;
    margin: 0 auto;
    display: flex;
  }
  
  .left_arm,
  .right_arm {
    width: 40px;
    height: 125px;
    border-radius: 100px;
    margin-top: 20px;
  }
  
  .left_arm {
    margin-right: 10px;
  }
  
  .left_arm {
    margin-right: 10px;
  }
  
  .right_arm {
    margin-left: 10px;
  }
  
  .torso {
    width: 200px;
    height: 200px;
    border-radius: 0 0 50px 50px;
    transition: border-radius 1s;
  }
  
  .lower_body {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .left_leg,
  .right_leg {
    width: 40px;
    height: 120px;
    border-radius: 0 0 100px 100px;
    display: inline-block;
  }
  
  .left_leg {
    margin-left: 45px;
  }
  
  .right_leg {
    margin-left: 30px;
  }
  
  .robots:hover .head {
    animation: movehead 2s infinite;
  }
  
  .robots:hover .torso {
    border-radius: 40%;
    animation: movetorso 2s infinite;
  }
  
  .robots:hover .left_arm {
    animation: moveleftarm 2s infinite;
  }
  
  .robots:hover .right_arm {
    animation: moverightarm 2s infinite;
  }
  
  .robots:hover .left_leg {
    animation: moveleftleg 2s infinite;
  }
  
  .robots:hover .right_leg {
    animation: moverightleg 2s infinite;
  
  }
  .robots:hover .eyes{
    animation:moveeyes 2s infinite;
  }
  
  @keyframes movehead {
    0% {
      width: 200px;
    }
  
    25% {
      width: 300px;
    }
  
    50% {
      width: 200px;
    }
  
    75% {
      width: 300px;
    }
  
    100% {
      width: 200px;
    }
  }
  
  @keyframes moveleftarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(-120deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moverightarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(120deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moveleftleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(70deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes moverightleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-70deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(-20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes movetorso {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
    
  }
  @keyframes moveeyes{
    0%{
      transform:rotate(0deg);
    
    }
  45%{
    background-color: pink;}  
  100%{
    background-color: aliceblue;
    }
  }